*{
    margin:0px;
}
.rainbow {
    width: 400px;
    height: 300px;
    border-radius: 15px;
}
.fire {
    width: 300px;
    height: 200px;
}
.information-text-container {
    display: flex;
}
.container {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
}
.information-container-section {
height: 480px;
}
.information-container {
    background-color: #F9FAF8;
    display: flex;
}
.info-text {
    text-align: center;
}
.information-header {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 65px;
    margin-top: 50px;
}
.header-section {
    background-color: #1f5baf;
    height: 560px;
}
.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    width: 80px;
    font-weight: 700;
}
.signup {
    width: 100px;
}
.header-second-container {
    background-color: #1f5baf;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25rem;
}
.hero-second-text {
    font-size: 18px;
    color: white;
    line-height: 2;
}
.hero-main-text {
    font-size: 48px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero-style {
    font-weight: bold;
    color: white;
    font-size: 48px;
}
.quote-container {
    background-color: #E5E7EB;
    height: 460px;
    display: flex;
    justify-content: center;
flex-direction: column;
}
.by-author {
    text-align: center;
    margin-left: 30rem;
    font-weight: bold;
}
.quote {
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    align-content: center;
    display: flex;
}

.call-container {
    background-color: #3882F6;
    display: flex;
    height: 10em;
    width: 80em;
    border-radius: 10px;
    margin-top: 9em;
}
.call-text {
    position: absolute;
right: 56em;
top: 108em;
line-height: 2;
}
.call-style {
    color: white;
    font-weight: bolder;
}
.call-text-2 {
    font-style: italic;
    color: white;
}
.signup-2 {
    border: 1px white solid;
    width: 110px;
}
.btn-container {
    right: -27em;
position: absolute;
margin-bottom: 46px;
top: 20px;
}
.fourth-section-container {
    background-color: white;
height: 460px;
display: flex;
justify-content: center;
}

.logo {
    margin-right: 49rem;
    padding: 10px;
    color: white;
    font-size: 24px;
}
.item-container {
    display: flex;
    gap: 25px;
}
.items {
    font-size: 18px;
}
.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
}
.footer-container {
    background-color: #1f5baf;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:link {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: rgba(255, 255, 255, 0.644);
}